body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.containerdiv{
    width: 100%; /* calc(100% - 100px) */
    margin-left: 15%;
    margin-top:2%;
    margin-right: 15%;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: #1A9ECE;
    float:left;
    height: 100%;
}

.footerdiv{
  clear:both;
  width:100%;
  height: 2%;
  float:left;
  margin-top:43%;
  background-color: #EDEDEE;
	}

.footLeft{
  padding-left: 2%;
  margin:2.5%;
}

.rightPane{
  width:99%;
}
.clearAll{
  float: right;
}
.footer{
   height: 2%;
	}
.footRight{
  float:right;
  margin-top:52.5%;
  width:100%;
  white-space: nowrap;
}
a:link {
    color: #57B8D9;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #57B8D9;
}

input[type=text] {
    background-color: #F3F3F3;
    height: 35px;
    width: calc(100% - 22px);
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    border:none;
    border-bottom: 3px solid #ADDCED;
    overflow:hidden;
}

.itemHeader{
  padding: 3%;
  border-right-color: #ADDCED;
  background-color: #1A9ECE;
  color: white;
}

.listContainer{
  width: 100%;
  padding-left:2%;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
  vertical-align: middle;
}

.listContainer > div {
  height: 35px;
  display: inline-block;
}

.listContainer:hover {
    background-color: #E4F9FE; /* #1A9ECE */
}

.delete{
  border: none;
  color: #DCDCDC;
  font-size: 23px;
  float: right;
  padding-right: 10px;
}

.listContainerR{
  width: 100%;
  padding-left:1%;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;

}

.listContainerR > div {
  display: inline-block;
}

.listContainerR:hover{
  background-color: #E4F9FE;
}

button{
  background-color: #00B6E8;
  text-decoration-color: #ADDCED;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
}
.column {
  width:39%;
  border-right: 1px solid #F3F3F3;
  margin-right:0px;
  float:left;
}
.checkBoxStyle{
  /*background-color: grey; */
  vertical-align: middle;
}
.checkList{
  /*background-color: grey;*/
  vertical-align: middle;

}
.checkList:checked {
  background-color: grey;
}
input[type=checkbox]:checked ~ div {
  background-color: #1A9ECE;
  /*background-color: grey;
  text-decoration-color: #1A9ECE; */
  width: 99%;
  color: white;
}
